fastapi==0.115.0
requests==2.27.*
fastapi-sessions==0.3.*
openai==0.27.*
sqlalchemy==2.0.35
pydantic-settings==2.5.2
uvicorn[standard]==0.22.*
httpx==0.27.2
asyncio==3.4.3
async-timeout==4.0.3
aiohttp